altgraph
blinker
Brotli
certifi
cffi
chardet
charset-normalizer
click
colorama
contourpy
cssselect2
cycler
easyprint
et-xmlfile
Flask
Flask-Login
Flask-SQLAlchemy
flask_weasyprint
fonttools
fpdf
greenlet
gunicorn
html5lib
idna
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
numpy
openpyxl
packaging
panda
pandas
pdfkit
pefile
pillow
pycparser
pydyf
pyinstaller
pyinstaller-hooks-contrib
pyparsing
pyphen
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32-ctypes==0.2.2
reportlab==4.2.2
requests==2.32.3
scikit-learn
scipy
setuptools==70.0.0
six==1.16.0
SQLAlchemy==2.0.31
threadpoolctl==3.5.0
tinycss2==1.3.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.1
weasyprint
webencodings==0.5.1
Werkzeug==3.0.3
wkhtmltopdf==0.2
XlsxWriter==3.2.0
zopfli==0.2.3
